<p>Ask your coach anything:</p>

<form action="/answer" data-turbo="false">

  <div class="input-group mb-3 w-50">
      <input type="text" class="form-control" name="question">
      <button class="btn btn-primary" type="submit" id="button-addon2">Ask!</button>
  </div>

</form>
